html{
    height:100%;
	font-family:monospace;
}

body{
    height:98%;
	width:80%;
    background:#eee;
	color:#000;
    margin-left:auto;
    margin-right:auto;
}
header{
	height:2em;
}
header a{
	color:#fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
footer{
	color:#777;
}

#whileIn{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#whileIn-menu{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:3em;
}

.whileIn-nav{
	/*width:90%;*/
	margin-left:auto;
	margin-right:auto;
	display:inline;
}

/*******************/
/** bugs be here! **/
/*******************/
#bug-results{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

.bug{
	position:relative;
	vertical-align:top;
	padding:1em;
	/*background:#ccc;*/
	border:1px solid #ddd;
	border-bottom:none;
	width:100%;
}
.bug:hover{
	background:#fff;
}


.bug-id a{
	text-decoration:none;
	color:#000;
}

.bug-id a:hover{
	color:#4183c4;
}

.bug-title{
	font-size:12px;
	font-weight:bold;
	font-style:normal;
}
.bug-title a{
	text-decoration:none;
	font-style:normal;
	color:#000;
}
.bug-title a:hover{
	color:#4183c4;
	/*text-shadow:0px 0px 1px #000;*/
}

.bug-status-holder{
	float:right;
}

.bug-submitter-name{
	font-style:italic;
}

.bug-desc{
	margin-top:1em;
	background:#eee;
	padding:5px;
	border-radius:7px;
}

/* Icons */
.bug-status-Open{
	border-radius:20px;
	border: 2px solid #6cc644;
	background:transparent;
	width:10px;
	height:10px;
	display:inline-block;
	vertical-align:bottom;
}

.bug-status-Open:after{
	content:"!";
	font-size:10px;
	line-height:1;
	vertical-align:top;
	margin-left:2px;
	color:#6cc644;
	font-weight:bolder;
}

/* Try to make a checkbox */
/*
.test{
	display:inline-block;
	width:15px;
	height:2px;
	background:#000;
	-moz-transform:rotate(-45deg);
	transform:rotate(-45deg);
}
.test:after{
	content:"";
	width:7px;
	height:2px;
	background:#000;
	position:absolute;
	top:-2px;
	left:-3px;
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
}
.test:before{
	border-radius:20px;
	border: 2px solid #000;
	background:transparent;
	width:10px;
	height:10px;
}
*/
.test{
	border:2px solid #bd2c00;
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:4px;
}
.test:before{
	content:"";
	width:23px;
	height:4px;
	position:absolute;
	background:#bd2c00;
	transform:rotate(-45deg);
	margin-left:-6px;
	margin-top:3px;
	border-radius:4px;
}
.bug-status-Closed{
	border:2px solid #bd2c00;
	width:10px;
	height:10px;
	display:inline-block;
	border-radius:4px;
}
.bug-status-Closed:before{
	content:"";
	width:23px;
	height:4px;
	position:absolute;
	background:#bd2c00;
	transform:rotate(-45deg);
	margin-left:-6px;
	margin-top:3px;
	border-radius:4px;
}

.test2{
	/*
	border-radius:20px;
	border: 2px solid #bd2c00;
	*/
	border-right:1px solid transparent;
	border-top:2px solid #bd2c00;
	border-left:2px solid #bd2c00;
	border-bottom:2px solid #bd2c00;
	border-radius:20px;
	background:transparent;
	width:10px;
	height:10px;
	display:inline-block;
	vertical-align:bottom;
	transform:rotate(-25deg);
}

.test2:before{
	content:"";
	width:14px;
	height:3px;
	margin-top:3px;
	margin-left:5px;
	background:#bd2c00;
	position:absolute;
	-moz-transform:rotate(-20deg);
	transform:rotate(-20deg);
}
.test2:after{
	content:"";
	width:6px;
	height:3px;
	margin-left:2px;
	margin-top:4px;
	background:#bd2c00;
	position:absolute;
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
}
