html{
    height:100%;
	font-family:monospace;
}

body{
    height:98%;
	width:80%;
    background:#ddd;
	color:#000;
    margin-left:auto;
    margin-right:auto;
}
header{
	height:2em;
}
header a{
	color:#fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
footer{
	color:#777;
}

#whileIn{
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

#whileIn-menu{
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:3em;
}

.whileIn-nav{
	/*width:90%;*/
	margin-left:auto;
	margin-right:auto;
	display:inline;
}
